body {
    background-color: rgb(235, 235, 235);
    font-family: sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

h1 {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: rgb(77, 75, 75);
    margin: 29px 0px 11px 11px;
}